<html>
  <head>
    <title>Gyan's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Gyan's blog application</a></h1>
    </div>

    <div>
      <p>published : 13-07-2016, 14:38</p>
      <h2><a href="">My first post</a></h2>
      <p>Steps to start a python programm :</p>
      <p>1.make a virtual environment
        2.activate the virtual environment
        3.install djnago
        4.start your project :)</p>
      </div>

      <div>
        <p>published :11-07-2016, 14:45</p>
      </div>
  </body>
</html>
